* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #121212;
}

.tudo {
  padding: 1px;
  margin: 4px;
}

.letras {
  color: red;
}

.letras:hover {
  color: orange;
}

.cor-letra {
  color: orange;
}

.navbar {
  background-color: transparent;
}

.label-color {
  background-color: rgb(190, 190, 190);
}

.a-color {
  background-color: rgb(190, 190, 190);
  ;
}

a img {
  width: 50px;
  height: 50px;
}

#typing-effect {
  font-size: 28px;
  font-family: monospace;
  border-right: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
  color: #87ffff;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.habilidades {
  padding: 15px;
  border-radius: 5px;
  background-color: black;
}

.habilidades p,
h1 {
  text-align: center;
}

.habilidades h1 {
  color: #ed9a00;
}

p {
  color: gray;
  font-size: 1.5em;
}

.letra-especial {
  color: darkorange;
}

.teste img {
  height: 220px;
  border-radius: 20px;
  border: 3px solid rgb(255, 0, 0);
}

.art1 {
  padding: 10px;
  border-radius: 10px;
}

.art1 h1 {
  font-size: 2.5em;
}

.sobre {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.art1-sobre {
  padding: 30px;
  border-radius: 10px;
  background-color: #000000;
  color: gray;
  justify-content: center;
}

.progresso img {
  height: 40px;
  border-radius: 35px;
}

.img-php {
  width: 65px;
  height: 20px;
}

.art2-sobre img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 1px 1px 3px purple;
  margin-top: 12px;
}

.techno-button {
  height: 35px;
  padding: 8px;
  border: none;
  background-color: #73beff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px purple;
  transition: all 0.3s ease;
  cursor: pointer;
}

.techno-button:hover {
  background-color: #00aaff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.info {
  margin-top: 20px;
}

.art3-sobre {
  margin-top: 20px;
  display: none;
}

.card-body {
  background-color: #DDE6ED;
  text-align: center;
}

.card-body p {
  color: black;
}

body.dark-mode {
  background-color: white;
  color: #000000;
}

.art11 {
  background-color: white;
}

.art12 {
  background-color: white;
  color: gray;
}

.alternar-cor {
  background-color: transparent;
  color: #00f2ff;
  border: none;
  box-shadow: 1px 1px 3px purple;
  font-size: 1.5em;
  padding: 5px;
  width: 180px;
}

.btn-hamb {
  background-color: #526D82;
}

.p-footer {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

@media (min-width: 1080px) {
  .teste img {
    height: 300px;
    width: 50% !important;
    border-radius: 50px;
    border: 3px solid rgb(255, 0, 0);
    margin-left: 315px;
  }

  .carrossel-pai {
    display: flex;
    justify-content: flex-start;
  }
}