* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #121212;
}

.tudo {
  border: 0.4px solid gray;
  padding: 5px;
  margin: 4px;
}

.letras {
  color: white;
}

.letras:hover {
  color: orange;
}

.cor-letra {
  color: orange;
}

.navbar {
  background-color: transparent;
}

.label-color {
  background-color: rgb(190, 190, 190);
}

.a-color {
  background-color: rgb(190, 190, 190);
  ;
}

a img {
  width: 50px;
  height: 50px;
}

#typing-effect {
  font-size: 28px;
  font-family: monospace;
  border-right: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  color: #87ffff;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.habilidades {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
  background-image: url(fundo.jpg);
}

.habilidades p,
h1 {
  text-align: center;
}

.habilidades h1 {
  color: #ed9a00;
}

p {
  color: white;
}

.letra-especial {
  color: darkorange;
}

.teste img {
  height: 220px;
  border-radius: 20px;
  border: 1px solid black;
}

.art1 {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.art1 h1 {
  font-size: 2.5em;
}

.progresso {
  margin-top: 10px;
}

.progresso-bar {
  height: 6px;
  background-color: #70ff70;
  border-bottom: 1px solid black;
}

.sobre {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.art1-sobre {
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: gray;
}